h1,
.about-title,
.edu-header,
.projects-title,
.contact-title {
    font-family: 'Twinkle Star', cursive !important;
    font-weight: normal;
    text-transform: none;
}

h2.hero-subtitle {
    font-family: 'Marmelad', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #f6f4f0; 
    font-weight: normal;
}

p {
    font-family: 'Mukta', sans-serif !important;
    font-size: 1.1rem;
    line-height: 1;
    color: #414141;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f4f0
}

h1.name {
    font-size: 9rem;
    letter-spacing: 2px;
    color: #f6f4f0;
}

/*========== MENU BAR ==========*/
.navbar {
    background-color: transparent !important;
    padding: 20px 0;
    transition: background-color 0.4s ease, padding 0.4s ease;
}

.navbar-nav {
    width: 100%;
}

.nav-link {
    font-family: 'Marmelad', sans-serif !important;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #414141 !important;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.collapsing {
    transition: none !important;
}

.navbar.navbar-scrolled {
    background-color: #853c50 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.navbar.navbar-scrolled .nav-link {
    color: #f6f4f0 !important;
}

.nav-link:hover {
    color: #f6f4f0 !important;
    transform: scale(1.1);
}

.navbar.navbar-scrolled .nav-link:hover {
    color: #b2bf7b !important;
}

/*========== HOME ==========*/
#home {
    position: relative;
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: block;
    color: #f6f4f0;
    text-align: center;
}

.hero-content {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;

}

.square-line span {
    background-color: #f6f4f0 !important;
    width: 5vw;
    height: 5vw;

    background-clip: padding-box;
    margin-bottom: -1px;
}

.square-line span:nth-child(-n+3) {
    background-color: #853c50 !important;
}

.square-line span:nth-child(n+4) {
    background-color: #f6f4f0 !important;
}

/*========== ABOUT ==========*/
#about {
    height: 50vh;
    display: flex;
    width: 100%;
    margin-top: -1px;
}

.about-main {
    position: relative;
    width: 31.31vw;
    background-color: #853c50 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.about-title {
    color: #f6f4f0;
    font-family: 'Twinkle Star', cursive !important;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.about-title span {
    display: block;
}

.about-content {
    position: relative;
    flex-grow: 1;
    background-color: #f6f4f0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    text-align: left;
}

.about-name {
    font-family: 'Marmelad', sans-serif !important;
    font-size: 1.8rem;
    color: #853c50;
    font-weight: bold;
    border-bottom: 1.5px solid #853c50;
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 2rem;
    text-align: left;
}

.about-text {
    font-family: 'Mukta', sans-serif !important;
    font-size: clamp(1rem, 3vw, 1.4rem);
    line-height: 1.4;
    color: #414141;
    max-width: 850px;
    margin-bottom: 1rem;
}

.rose-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: auto;
}

.rose-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: auto;
}

.rose-left-small {
    display: none;
}

/*========== EDUCATION  ==========*/
#education {
    position: relative;
    background-image: url('images/edu.svg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -1px;
}

.edu-frame-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-frame {
    height: 110%;
    width: auto;
    margin-right: 20px;
}

.edu-content {
    position: absolute;
    text-align: center;
    z-index: 2;

}

.edu-title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 1.5rem;
    font-family: 'Twinkle Star', sans-serif !important;
    color: #853c50;
}

.edu-degree {
    font-family: 'Marmelad', sans-serif !important;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #414141;
}

.edu-university {
    font-family: 'Mukta', sans-serif !important;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #414141;
    max-width: 850px;
    margin-bottom: 0.5rem;
    font-style: italic;

}

.edu-years {
    font-family: 'Mukta', sans-serif !important;
    font-size: 1.3rem;
    font-weight: bold;
    color: #414141;
}

/*========== Projects ==========*/
.projects-header {
    background-color: #f6f4f0;
    text-align: center;
    padding-top: 50px;
}

.projects-title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: #853c50;
    font-family: 'Trebuchet MS', sans-serif;
}

.projects-line {
    height: 5vh;
    background-color: #f6f4f0;
    width: 100%;
}

.projects-main {
    position: relative;
    background-image: url('images/project.png');
    background-size: cover;
    background-position: center;
    min-height: 260vh;
    width: 100%;
    margin-top: -1px;
}

.projects-main .square-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.projects-main .square-line span {
    background-color: #f6f4f0 !important;
    height: 4vw;
}

.projects-main .square-line.bottom {
    top: auto;
    bottom: 0;
}

.projects-main .bottom span {
    background-color: #f6f4f0 !important;
}

/*cards*/
.projects-container {
    padding-top: 90px;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 20;
}

.project-pos {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.project-pos:nth-child(odd) {
    justify-content: flex-start;
}

.project-pos:nth-child(even) {
    justify-content: flex-end;
}

.custom-card {
    background-image: url('images/card.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 900px;
    height: 420px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
    z-index: 5;
    gap: 30px;
    justify-content: flex-start;
    padding-left: 18px;
}

.project-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.bracket {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: #414141;
    font-weight: lighter;
}

.project-icon {
    width: 90px;
    height: auto;
}

.card-text h3 {
    text-align: left;
    font-style: italic;
    margin-bottom: 10px;
    font-family: 'Marmelad', sans-serif !important;
    font-size: 2rem;
    color: #853c50;
    font-weight: 500;
}

.card-text h3 a {
    color: #853c50;
    text-decoration: underline;
    transition: all 0.3s ease;
    display: inline-block;
}

.card-text h3 a:hover {
    color: #b2bf7b !important;
    text-decoration: none !important;
    transform: translateX(10px);
}

.card-text h3 a:visited {
    color: #853c50;
}

.card-text p {
    font-family: 'Mukta', sans-serif !important;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #414141;
    max-width: 600px;
    margin-bottom: 1rem;
}

.project-pos:nth-child(even) .custom-card {
    transform: scaleX(-1);
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.project-pos:nth-child(even) .card-text {
    transform: scaleX(-1);

}

.project-pos:nth-child(even) .project-icon-wrapper {
    transform: scaleX(-1);
    padding-left: 55px;
}


.project-pos:nth-child(even) .card-text {
    text-align: left;
}


/*========== Contact ==========*/
#contact {
    background-color: #f6f4f0;
    margin-top: -1px;
    height: 70vh;
    position: relative;
}

.contact-header {
    text-align: center;
    padding: 60px 0;
}

.contact-title {
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 700;
    letter-spacing: 5px;
    color: #853c50;
    font-family: 'Trebuchet MS', sans-serif;
}

.contact-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    padding-top: 50px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-icon {
    width: 90px;
    height: auto;
}

.contact-item .bracket {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    color: #414141;
    font-weight: lighter;
}

.contact-rose-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: auto;
}

.contact-rose-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: auto;
}

.contact-item a {
    display: inline-block;
    transition: all 0.3s ease;
}

.contact-item a:hover {
    transform: translateY(-10px);
}

.contact-item:hover .bracket {
    color: #853c50;
    transition: color 0.3s ease;
}

@media screen and (max-width: 980px) {
    .navbar-collapse.show {
        background-color: #f6f4f0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-collapse:not(.show) {
        display: none !important;
    }

    .nav-link {
        font-size: 1.5rem !important;
        color: #414141 !important;
        margin: 15px 0;
    }

    .navbar-toggler {
        z-index: 1001;
        border: none !important;
        box-shadow: none !important;
    }

    .navbar-toggler-icon {
        background-image: url('images/moreW.svg') !important;
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url('images/more.svg') !important;

    }

    .nav-link:hover {
        color: #b2bf7b !important;
        transform: scale(1.05);
    }

    .navbar-collapse.show .nav-link {
        color: #414141 !important;
    }

    .nav-link:hover {
        transform: scale(1.1);
        color: #f6f4f0 !important;
    }
}

@media screen and (max-width: 768px) {

    .square-line span:nth-child(n+4) {
        background-color: #853c50 !important;
    }

    .about-title,
    .edu-title,
    .projects-title {
        font-size: 3rem !important;
    }

    #about {
        height: auto !important;
        flex-direction: column;
    }

    .about-main {
        width: 100% !important;
        height: 20vh;
    }

    .about-content {
        width: 100% !important;
        padding: 2rem !important;
    }

    .about-title span {
        display: inline !important;
    }

    .about-title {
        flex-direction: row !important;
        justify-content: center;
        gap: 15px;
        font-size: 2.5rem;
    }

    .about-name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .about-text {
        font-size: 1.3rem;
        line-height: 1.2;
    }

    .rose-left,
    .rose-right {
        display: none;
    }

    .edu-frame {
        transform: scale(1.15)
    }

    .contact-rose-left,
    .contact-rose-right {
        width: 40px !important;
    }

    .contact-icon {
        width: 70px;
    }

}

@media screen and (max-width: 576px) {

    h1.name {
        font-size: 5rem !important;

    }

    .about-title,
    .edu-title,
    .projects-title {
        font-size: 3rem !important;
    }

    .square-line span:nth-child(n+4) {
        background-color: #853c50 !important;
    }

    .square-line span:nth-child(n+6) {
        display: none;
    }

    .square-line span {
        background-color: #853c50 !important;
        width: 10.7vw;
        height: 8vw;
    }

    #about {
        height: auto !important;
        flex-direction: column;
    }

    .about-main {
        width: 100% !important;
        height: 20vh;
    }

    .about-content {
        width: 100% !important;
        padding: 2rem !important;
    }

    .about-title {
        flex-direction: row !important;
        justify-content: center;
        gap: 15px;
        font-size: 2.5rem;
    }

    .about-name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .about-text {
        font-size: 1.3rem;
        line-height: 1.2;
    }

    .about-title span {
        display: inline !important;
    }

    .rose-left,
    .rose-right {
        display: none;
    }

    #education {
        height: 60vh;
    }

    .edu-frame {
        height: 100%;
    }


    .edu-university {
        font-size: 1.2rem;

    }

    .edu-degree,
    .edu-years {
        font-size: 1rem;
    }

    .projects-main .square-line span {
        width: 10.7vw;
        height: 8vw;
        background-color: #f6f4f0 !important;
    }

    .projects-main .square-line span:nth-child(n+6) {
        display: none;
    }

    .projects-main {
        min-height: auto;
        padding-bottom: 70px;
    }

    .project-pos {
        height: auto;
    }

    .custom-card {
        width: 92% !important;
        height: auto !important;
        padding: 45px !important;
        gap: 13px !important;
        background-size: 100% 100% !important;
        align-items: center;
        filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
        z-index: 5;
        justify-content: flex-start;
    }

    .project-icon-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-shrink: 0;
    }

    .project-icon {
        width: 45px !important;
    }

    .bracket {
        font-size: 1.3rem !important;
    }

    .card-text h3 {
        font-size: 1.2rem !important;
        margin-bottom: 5px;
    }

    .card-text p {
        font-size: 1rem !important;
        line-height: 1 !important;
        font-weight: 400 !important;
        max-width: 100% !important;
    }

    .project-pos:nth-child(odd) .custom-card {
        margin-left: -25px;

    }

    .project-pos:nth-child(even) .custom-card {
        margin-right: -25px;
    }

    .project-pos:nth-child(even) .project-icon-wrapper {
        padding-left: 0px !important;
    }

    #contact {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-header {
        padding: 30px 0 0 0 !important;
    }

    .contact-main {
        padding-bottom: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-icons-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        width: 100%;
    }

    .contact-icon {
        width: 60px;

    }
    .contact-item .bracket {
        font-size: 2rem !important;
    }

    .contact-rose-right,
    .contact-rose-left {
        width: 30px;
        height: auto;
    }

}

@media screen and (min-width: 577px) and (max-width: 850px) {

     h1.name {
        font-size: 6rem !important;

    }
    .projects-main .square-line span {
        background-color: #f6f4f0 !important;
    }

    .projects-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow-x: hidden;
    }

    .custom-card {
        width: 100% !important;
        height: auto !important;
        background-size: 100% 100% !important;
        padding: 50px !important;
        margin-bottom: 30px;
    }

    .project-pos:nth-child(odd) .custom-card {
        margin-left: -50px !important;
        justify-content: center;
    }

    .project-pos:nth-child(even) .custom-card {

        margin-right: -50px !important;
        justify-content: flex-start;
    }

    .project-icon {
        width: 50px !important;
    }

    .bracket {
        font-size: 2rem !important;
    }

    .card-text h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-bottom: 5px;
    }

    .card-text p {
        font-size: 1.2rem;
        line-height: 1.2;
        max-width: 400px;

    }
}